<div class='card-cols'>
  <% @project.each do |p| %>
    <div class="card">
      <%= image_tag p.imageLink, alt: p.alt, :class => "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= p.cardTitle %></h5>
        <p class="card-text"><%= p.cardText %></p>
        <%= link_to p.cardTitle, p.url, :class => "btn btn-primary", target: '_blank' %>
      </div>
    </div>
  <% end %>
</div>
