// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.aboutTitle,
.aboutIntro {
    color: white
}

.aboutIntro {
    width: 50%;
}

.avatarClass {
    border-radius: 100%;
    max-width: 25%;
    margin: 5px 0;
}