    // Place all the styles related to the Contact controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: https://sass-lang.com/
    .contactTitle,
    .contactIntro {
        color: white
    }
    
    .contactIntro {
        width: 50%;
    }
    
    .contact-div {
        display: flex;
        margin-top: 2%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .contact-div img {
        height: 7.14rem;
    }
    
    @media only screen and (max-width: 600px) {
        .contact-div img {
            height: 3.57rem;
        }
    }