// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pagesTitle,
.pagesIntro {
    color: white;
}

.pagesIntro {
    width: 50%;
}

.contact-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    border: 0.5px black solid;
}

.card-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 18rem;
}

@media only screen and (max-width: 600px) {
    .card-cols {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}